<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"contenu","layout":{"type":"default"}} -->
<main id="contenu" class="wp-block-group"><!-- wp:group {"className":"g-page-entete g-page-entete--image","layout":{"type":"default"}} -->
<div class="wp-block-group g-page-entete g-page-entete--image"><!-- wp:post-featured-image /-->

<!-- wp:shortcode -->
[socle_fil_ariane]
<!-- /wp:shortcode -->

<!-- wp:post-title {"level":1} /-->

<!-- wp:post-excerpt {"className":"g-page-entete__intro"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
